<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Welcome to Viz-Viper!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Application Ranking Dashboard</h1>
        <p>Use the interactive charts below to explore the dataset</p>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col col-lg-4">
        <div class="well">
            <h5>Platform:</h5>
            <select id="platformSelection" onchange = "platformSelect(this.value)">
                <option disabled selected value>-- choose one --</option>
                <option value = "iOS">iOS</option>
                <option value = "Android">Android</option>
            </select>
            <div class="publishdiv">
                <h5>Publisher Name:</h5>
                <select id="selDataset" onchange="optionChanged(this.value)"></select>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table id="summary-table" class="table table-striped table-inverse">
            <thead>
              <tr>
                <th>Publisher Name</th>
                <th>App Name</th>
                <th>Current Quarter Rank</th>
                <th>Prior Quarter Rank</th>
                <th>Quarter to Quarter Change</th>
              </tr>
            </thead>
            <tbody></tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="scatter"></div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{url_for('static', filename='js/app.js')}}"></script>
  <!--<script src="./static/js/bonus.js"></script>-->
  
</body>

</html>
